{% load static social_tags %}

<header class="header">
    <div class="container">
        <div class="header-inner">
            <a href="http://127.0.0.1:8000/" class="logo">
                <img src="{% static 'img/icon/logo.svg' %}" alt="">
            </a>
            <div class="header-nav">
                <div class="nav">
{#                    активным nav-link добавить класс active, понял ЫРЫСКЕЛДИ ?!! :) #}
                    <a href="{% url 'photo' %}" class="nav-link">Фото</a>
                    <a href="{% url 'video' %}" class="nav-link">Видео</a>
                    <a href="{% url 'places' %}" class="nav-link">Заведения</a>
                    <a href="{% url 'contacts' %}" class="nav-link">Контакты</a>
                    <a class="nav-link search"></a>
                </div>
                <div class="social-network">
                    {% get_social_links as social_links %}
                    {% for i in social_links %}
                      <a href="{{ i.link }}" class="link"><img src="{{ i.icon.url }}"></a>
                    {% endfor %}
                </div>
            </div>
            <div class="mob-right">
                <a class="nav-link search mobile"></a>
                <div class="burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="search-block">
        <div class="container">
            {% include 'components/search-block.html' %}
        </div>
    </div>
</header>