{% extends 'base.html' %}
{% load static %}

{% block title_page %}{% endblock %}

{% block style-libs %}
    <link rel="stylesheet" href="{% static 'css/filter.css' %}">
{% endblock %}

{% block style %}{% endblock %}

{% block content %}
    <section class="rep-header news-header">
        <div class="container">
            <h1 class="title news-title">Топ заведений</h1>
        </div>
    </section>

    <div class="branches-page">
        <section class="section-report">
            <div class="container">
                <div class="images-grid">
                        {% for place in top_place %}
                        <div class="images-item branches">
                            <img src="{{ place.image.url }}" alt="">
                            <a href="{{ place.get_absolute_url }}" class="images-link"></a>
                            <div>
                                <h2 class="images-title">{{ place.title }}</h2>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
            </div>
        </section>
    </div>

    <section class="rep-header news-header">
        <div class="container">
            <h1 class="title news-title">Заведения</h1>
        </div>
    </section>

    <div class="branches-page">
        <section class="section-report">
            <div class="container">
                <div class="images-grid">
                        {% for place in place_list %}
                        <div class="images-item branches">
                            <img src="{{ place.image.url }}" alt="">
                            <a href="{{ place.get_absolute_url }}" class="images-link"></a>
                            <div>
                                <h2 class="images-title">{{ place.title }}</h2>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
            </div>
        </section>




        <a href="#!" class="section-more">Загрузить еще</a>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/filter.js' %}"></script>
    <script>
        var skipSlider = document.getElementById('filter-slider');

        noUiSlider.create(skipSlider, {
            tooltips: true,
            range: {
                'min': 1000,
                '5%': 1100,
                '10%': 1200,
                '15%': 1300,
                '20%': 1400,
                '25%': 1500,
                '30%': 1600,
                '35%': 1700,
                '40%': 1800,
                '45%': 1900,
                '50%': 2000,
                '55%': 2100,
                '60%': 2200,
                '65%': 2300,
                '70%': 2400,
                '75%': 2500,
                '80%': 2600,
                '85%': 2700,
                '90%': 2800,
                '95%': 2900,
                'max': 3000
            },
            pips: {
                mode: 'values',
                values: [1000, 1500, 2000, 2500, 3000]
            },
            connect: true,
            snap: true,
            start: [100, 2500]
        });

        var skipValues = [
            document.getElementById('skip-value-lower'),
            document.getElementById('skip-value-upper')
        ];

        skipSlider.noUiSlider.on('update', function (values, handle) {
            skipValues[handle].value = values[handle];
        });

        $('.branches-filter-btn').on('click', function () {
            $('.filter-block').slideToggle(100)
        })

        $('.filter-close').on('click', function () {
            $('.filter-block').slideUp(100)
        })

    </script>
{% endblock %}