{% extends 'base.html' %}
{% load embed_video_tags %}
{% load static social_share_tags %}

{% block title_page %}{% endblock %}

{% block style-libs %}{% endblock %}

{% block style %}{% endblock %}

{% block content %}

    <section class="photo-inner video-inner">
        <div class="container">
            <h1 class="title">{{ video.title }}</h1>
            <div class="photo-header">
                <div class="head-item-grid">
                    <div class="item">
                        <h3 class="header-title">Просмотры</h3>
                        <span class="header-val">{{ video.total_views }}</span>
                    </div>
                    <div class="item">
                        <h3 class="header-title">Дата</h3>
                        <span class="header-val">{{ video.created_at }}</span>
                    </div>
                    <div class="item">
                        <h3 class="header-title">Видеоограф</h3>
                        <span class="header-val">{{ video.videographer }}</span>
                    </div>
                </div>
                <div class="item-right">
                    {% get_social_links as social_links %}
                    {% for i in social_links %}
                    <a href="{{ i.link }}" class="right-item share"><img src="{{ i.icon.url }}"></a>
                    {% endfor %}
                </div>
            </div>
            <div class="photo-grid-top video">
                <iframe class="video-item" width="560" height="315" src="{% video video.url  %}"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts %}
    <script>
        var fullText = $('.video-inner-txt').text()
        var textItem = $('.video-inner-txt')
        if (textItem.text().length > 850) {
            textItem.text(textItem.text().substr(0, 850))
            textItem.append('<span class="show-more-text"> ...еще</span>')
        }
        $('.video-inner-txt').on('click', function () {
            textItem.text(fullText)
        })
    </script>
{% endblock %}