<label class="search-field-wrap">
    <input type="text" placeholder="Искать" class="search-field">
    <div class="search-close">
        <span></span>
        <span></span>
    </div>
    <div class="on-keyup">
        <div class="on-keyup-item">
            <h4 class="on-keyup-ttl">Фотоотчеты</h4>
            <a href="#!" class="on-keyup-result">
                <div><span class="on-keyup-active">Бар</span> “Noname”</div>
                <span class="date">22 июня</span>
            </a>
        </div>
        <div class="on-keyup-item">
            <h4 class="on-keyup-ttl">Видеотчеты</h4>
            <a href="#!" class="on-keyup-result">
                <div><span class="on-keyup-active">Бар</span> “Noname”</div>
                <span class="date">22 июня</span>
            </a>
        </div>
        <div class="on-keyup-item">
            <h4 class="on-keyup-ttl">Заведения</h4>
            <a href="#!" class="on-keyup-result">
                <div><span class="on-keyup-active">Бар</span> “Noname”</div>
                <span class="date">22 июня</span>
            </a>
        </div>
    </div>
</label>